.poster {
  max-width: 100%;
  height: 200px;
  padding: 0 20px;

  &__title {
    width: 100%;
    color: var(--color);
    top: 40px;
    left: 30px;
    right: 30px;

    h2 {
      font-size: 50px;
      margin-bottom: 10px;
    }

    p {
      font-size: 28px;
    }

  }

}