.card {

  width: 190px;
  height: 400px;
  border-radius: 10px;
  background-color: var(--background-color-page);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  img {
    width: 190px;
    height: 280px;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
  }

  &_title {

    padding: 10px;
    color: var(--color);

    h3 {
      font-size: 16px;
      margin-bottom: 8px;
      line-height: 20px;
    }

    p {
      font-size: 14px;
    };

  }

}