.sortTv {
  padding: 20px 30px;
  min-width: 300px;
  height: 24px;
  background-color: var(--background-color-element);
  border-radius: 10px;

  &__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
      font-size: 18px;
      color: var(--color);
    }

    span {
      color: var(--color);
      border-bottom: 1px dashed var(--color);
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__popup {
    margin-top: 20px;
    width: 260px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(35, 34, 34, 0.05);
        }
      }
    }
  }
}