.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-element);
  transition: background-color .5s linear;
  height: 65px;
  padding: 0 100px;
  color: var(--color);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  margin-bottom: 50px;

  &__navigation {
    display: flex;
    column-gap: 60px;

    &_logo {

      img {
        width: 55px;
      }
    }
  }
}
