.genre {
  background-color: var(--background-color-element);
  padding: 12px 22px;
  width: fit-content;
  border-radius: 20px;
  font-size: 19px;
  color: var(--color);
  cursor: pointer;
  border: 2px solid var(--background-color-element);
  &:hover {
    background-color: var(--background-color-page);
    border: 2px solid var(--background-color-element);
  }
}