.search {
  margin-top: 30px;
  width: 100%;

  input {
    box-sizing: border-box;
    height: 46px;
    outline: none;
  }

  input[type='text'] {
    font-size: 18px;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
  }

  input[type='submit'] {
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: var(--background-color-element);
    color: var(--color);
    font-size: 16px;
    width: 120px;
    font-weight: 700;
  }

}