.search {
  margin-top: 30px;

  input {
    box-sizing: border-box;
    min-width: 1200px;
    height: 40px;
    border-radius: 25px 0 0 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding-left: 30px;
  }

  button {
    color: var(--color);
    background-color: var(--background-color-element);
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 0 25px 25px 0;
  }

}