.genresTv {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 10px;
  margin-left: -29px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 12px;
  background-color: var(--background-color-element);
}